.burgerMenu {
    display: none;
}

.burgerMenu div {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #ffffff;
    margin-bottom: 5px;
}

@media only screen and (max-width: 860px) {
    .burgerMenu {
        display: block;
        width: fit-content;
        margin: auto;
        padding-top: 18px;
        padding-bottom: 18px;
        transition-duration: 0.5s;
    }
}