.header {
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #000000;;
    top: 0;
    z-index: 999;
}

.bigMenu {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.menu1 {
    display: inline-block;
    width: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    border-radius: 2px;
    transition-duration: 0.3s;
}

.menu1:hover {
    background-color: #eeff00;
    color: #000000;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 24px;
    transition-duration: 0.3s;
}

.activeMenu1 {
    color: #eeff00;
}

.burgerButton {
    background-color: transparent;
    border: none;
    display: none;
}

#burgerClosed {
    transform: rotate(0deg);
    transition-duration: 0.5s;
}

#burgerOpen {
    transform: rotate(90deg);
    transition-duration: 0.5s;
}

@media only screen and (max-width: 860px) {
    .bigMenu {
        display: none;
    }

    .burgerButton {
        display: block;
        margin: auto;
    }
}