.home {
    display: block;
    background-image: url("./img/background_01.jpg");
    width: 100%;
    padding-top: 80px;
}

.home h1 {
    display: block;
    width: 100%;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 80px;
}

.homeBody {
    display: block;
    width: 100%;
    position: relative;
}

#logoSide {
    display: inline-block;
    width: 40%;
    margin-top: 40px;
}

#logoSide img {
    display: block;
    width: 70%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 50%;
}

#homeText {
    display: inline-block;
    width: 45%;
    position: absolute;
    top: 50px;
    bottom: 90px;
    margin-left: 50px;
}

#homeText p {
    font-size: 20px;
    line-height: 2rem;
    letter-spacing: 0.2rem;
    color: #ffffff;
    margin-bottom: 500px;
}

.homeLinks {
    display: block;
    width: 38%;
    margin-top: 200px;
    margin-left: 50px;
}

.homeLinks h2 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 30px;
}

.homeLinks div a {
    color: #fff000;
    font-size: 20px;
    text-decoration: none;
}

.homeLinks div p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px;
}

#homeImage {
    display: block;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 120px;
}

#homeImage img {
    display: block;
    width: 80%;
    margin: auto;
}

@media only screen and (max-width: 1000px) {
    #logoSide {
        display: block;
        width: 100%;
        margin-bottom: 50px;
    }

    #logoSide img {
        width: 40%;
    }

    #homeText {
        display: block;
        width: 100%;
        text-align: center;
        top: 343px;
    }

    #homeText p {
        width: 90%;
    }

    .homeLinks {
        margin: 550px auto 0;
    }

    .homeLinks h2 {
        text-align: center !important;
    }

    #homeImage {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 860px) {
    #homeText {
        bottom: 950px;
    }

    .homeLinks {
        margin: 730px auto 0;
    }
}

@media only screen and (max-width: 600px) {
    .home h1 {
        margin-bottom: 0px;
    }

    #homeText {
        margin-left: 5px;
        bottom: 1650px;
    }

    .homeLinks {
        margin: 900px auto 0;
    }

    #homeImage {
        margin-top: 850px;
    }
}

@media only screen and (max-width: 500px) {
    #homeText {
        top: 200px;
        bottom: 1200px;
    }

    #homeText p {
        width: 98%;
        line-height: 1.3rem;
        font-size: 15px;
    }

    .homeLinks {
        width: 90%;
        margin: 450px auto 0;
    }

    #homeImage {
        margin-top: 500px;
    }
}

@media only screen and (max-width: 470px) {
    .home h1 {
        font-size: 30px;
    }

    #homeText {
        top: 220px;
        bottom: 1290px;
    }

    .homeLinks {
        margin: 550px auto 0;
    }

    #homeImage {
        margin-top: 600px;
    }
}

@media only screen and (max-width: 375px) {
    .home h1 {
        font-size: 25px;
    }

    #homeText {
        bottom: 1490px;
    }

    .homeLinks {
        margin: 650px auto 0;
    }

    #homeImage {
        margin-top: 750px;
    }
}